body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.slider.slider-horizontal {
  height: 15px;
}

.slider.slider-horizontal .slider-track {
  height: 10px;
  margin-top: -6px;
}

.progress {
  margin-top: 0px;
  margin-bottom: 0px;
}
